# Dependencies
node_modules/

# Build output
dist/
dist-ssr/

# Astro specific
.astro/
.output/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.local

# Editor/System directories
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.sw?

# Project specific
.bolt/
